<%= form_for(@available_system) do |f| %>
  <% if @available_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available_system.errors.count, "error") %> prohibited this available_system from being saved:</h2>

      <ul>
      <% @available_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
