<!--  <div id="body"><h1>Hello User</h1>
<h2>Choose a function to perform<h2>
<table>
<tr>
<td><div class="button"><%= button_to 'User Mananagement',
	{:controller=> "users", :action => "index"}, :method => :get %></div></td>

<td><div class="button"><%= button_to 'Indicator Mananagement',
{:controller=> "indicators", :action => "index"}, :method => :get %></div></td>

<tr><td colspan="2", align="center"><div class="button"><%= button_to 'Sign Out', 
{:controller=>"sessions", :action => "destroy"}, :method => :get %></div></td></tr>
</table>
</div> -->
<div id="wholepage">

<table align="center">
<tr>	
		<td><div class="box" id="box1" onclick="window.location.href='users';">
			<p>Users</p>	
			</div></td>
			<td><div class="box" id="box2" onclick="window.location.href='indicators';">
			<p>Indicators</p>			
			</div></td>
		<td><div class="box" id="box3"><p>Available Systems</p></div></td>
</tr>
<tr>		
		<td><div class="box" id="box4"><p>Messages</p></div></td>
		<td><div class="box" id="box5" onclick="window.location.href='display';"><p>Summary</p></div></td>
		<td><div class="box" id="box6"><p>Locations</p></div></td>
</tr>
</table>
</div>
