<div id="wholepage">
<h1>Hello Admin</h1>
<h2> Please choose a function to perform<h2>
<table align="center">
<tr>	
		<td><div class="glow" id="box1" onclick="window.location.href='users';">
			<div id="head"p>Users</div>	
			</div></td>
			<td><div class="glow" id="box2" onclick="window.location.href='indicators';">
			<div id="head">Indicators</div>			
			</div></td>
		<td><div class="glow" id="box3" onclick="window.location.href='results';"><div id="head">Available Systems</div></div></td>
</tr>
<tr>		
		<td><div class="glow" id="box4" onclick="window.location.href='pie';"><div id="head">Messages</div></div></td>
		<td><div class="glow" id="box5" onclick="window.location.href='display';"><div id="head">Summary</div></div></td>
		<td><div class="glow" id="box6" onclick="window.location.href='reader';"><div id="head">Locations</div></div></td>
</tr>
</table>
</div>
