<h1>Editing indicator</h1>

<%= render 'form' %>

<div class="btn"><%= link_to 'Show',{:controller=> "indicators", :action => "show"}, :method => :get %></div>
<div class="btn"><%= link_to 'Back',{:controller=> "indicators", :action => "index"}, :method => :get %></div>
