<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Number of Voided Encounter',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: openmrs_anc',
            x: -20
        },
        xAxis: {
            categories: ['Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan',
                'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
        },
        yAxis: {
            title: {
                text: 'Encounters Voided Count'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
         
									<% @sampledata.keys.each do |encounter_type| %>
										{
												name: '<%= encounter_type %>',
												data : [
																<% (@sampledata[encounter_type] || []).each do |month| %>
																	[ '<%= month[0] %>', <%=  month[1] %>],
																<% end %>
															]
										},
									<% end %>
      					]
    });
});
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

